/* --------------------------------------------------- Navbar */

.navbar-bg { 
    background: #fff;
    padding: 30px;
    margin: 15px 0;
    /* height: 90px;  */

}

.navbar-brand {
    font-weight: 600;
    font-size: x-large;
    color: #000;
}

.navbar-brand:hover {
    color: #71684b;
}

.nav-links {
    padding-left: 59%;
    text-align: left;
}

.nav-link {
    color: #000;
}

.nav-link:hover {
    color: #71684b;
}

.active {
    color: #454636;
}

.fa-bars { color: #000;}


/* --------------------------------------------------- Anniversary Date Box */
.anniversaryDateBox {
    background: #454636;
    color: #fff;
    text-align: center;
    padding: 15px 0;
}    

.dateText { margin-bottom: 0;}

.anniversaryText {
    font-size: 2.16rem;
    margin-bottom: 0;
    font-weight: 600;
}


/* --------------------------------------------------- Learn, Reflect, Remember Section */
.LRRSection {
    margin: 80px 0;
}