/* --------------------------------------------------- Navbar */

.navbar-bg { 
    background: #fff;
    padding: 30px;
    margin: 15px 0;
    /* height: 90px;  */

}

.navbar-brand {
    font-weight: 600;
    font-size: x-large;
    color: #000;
}

.navbar-brand:hover {
    color: #71684b;
}

.nav-links {
    padding-left: 59%;
    text-align: left;
}

.nav-link {
    color: #000;
}

.nav-link:hover {
    color: #71684b;
}

.active {
    color: #454636;
}

.fa-bars { color: #000;}


/* --------------------------------------------------- Anniversary Date Box */
.anniversaryDateBox {
    background: #454636;
    color: #fff;
    text-align: center;
    padding: 15px 0;
}    

.dateText { margin-bottom: 0;}

.anniversaryText {
    font-size: 2.16rem;
    margin-bottom: 0;
    font-weight: 600;
}


/* --------------------------------------------------- Learn, Reflect, Remember Section */
.LRRSection {
    .row {
        display: grid;
        grid-template-areas: "Learn" "Refle" "Remem";
        grid-template-rows: 1fr;
        gap: 20px; 
        margin: 80px 0;
        @media screen and (min-width: 992px) {
            grid-template-areas: "Learn Refle Remem";
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
    .Learn { grid-area: Learn;}
    .Reflect {grid-area: Refle;}
    .Remember { grid-area: Remem; }

    p { padding-top: 10px; }
}


.learnMoreBtn { 
    background:#454636;
    color: #fff;
}

.learnMoreBtn:hover { 
    background:#71684b;
    color: #fff;
}


/* --------------------------------------------------- Visit & Heroes Section */
/* --------------------------------------------------- Learn, Reflect, Remember Section */
.VisitTxtBG, .HeroesTxtBG { 
    background: #ececeb;
    padding: 10px; 
}

.Visit {
    .row {
        display: grid;
        grid-template-areas: "visitIG" "visitTX";
        grid-template-columns: 290px;
        grid-template-rows: 1fr;
        margin: 80px 0;

        
        // MEDIA QUERY
        @media screen and (min-width: 992px) {
            grid-template-areas: "visitIG visitTX";
            grid-template-columns: 850px 300px;
        }
    }

    .VisitImg { 
        grid-area: visitIG;
        padding: 0;
        img { max-width: -webkit-fill-available; }
    }
    .visit-txt { grid-area: visitTX; }
}



.Heroes { 
    .row {
        display: grid;
        grid-template-areas: "heroeTX" "heroeIG";
        grid-template-columns: 290px;
        grid-template-rows: 1fr;
        margin: 80px 0;

        // MEDIA QUERY
        @media screen and (min-width: 992px) {
            grid-template-areas: 
            "heroeTX heroeIG"
            ;
            grid-template-columns: 300px 850px;
        }
    }
    .HeroesImg { 
        grid-area: heroeIG; 
        padding: 0;
        img { max-width: -webkit-fill-available; }
    }
    .heroes-txt { grid-area: heroeTX; }

}













/* --------------------------------------------------- Footer */

.footer-bg {
    background: #000;
    padding-top: 15px;
    padding-bottom: 5px;
}

.connect-with-me {
    color: #fff;
    text-align: center;
    font-size: small;
    margin-bottom: 5px;
}

.social-media {
    text-align: center;
    margin-bottom: 0;
    margin-right: 20px;
}

.social-media a {
    color: #fff;
    font-size: 25px;
}

.social-media a:hover {
    color: #71684b;
}

.WWRT {
    text-align: center;
    font-size: medium;
    color: #fff;
    margin-bottom: 0;
}



.credits {
    text-align: center;
    font-size: x-small;
    color: #fff;
    /* margin-top: 5px; */
}


/*--------------------------------------------- Back to top button */

/* The code here for the back to top button has been taken from Material Design for Bootstrap (MDB) v5 & v4 */

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

html {
    scroll-behavior: smooth;
}

/* My Own Code */
.back-to-top-button {
    background: #454636;
    color: #fff;
}

.back-to-top-button:hover {
    background: #71684b;
    color: #fff;
}